@import 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap';

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/d9741486424713.5d9904f61484a.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.startButton {
    width: 469px;
    height: 105px;
    background-color: #00000085;
    font-size: 2.5em;
    font-weight: bold;
    border: none;
    font-family: 'Press Start 2P', cursive;
}

.title {
    /* font-size: 4em;
    text-align: center;
    margin-bottom: 20px;
    color: white; */
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 18ch;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 3.5em;

    animation: typing 2s steps(18),
    blink .5s infinite step-end alternate;

    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% {border-color: transparent;}
}
